html {
  background-color: lightsalmon;
  font-family: "Open Sans", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headings {
  font-family: Lobster;
  text-align: center;
  font-size: 2.5rem;
}

#main-heading {
  color: white;
  text-shadow: 0.15rem 0.15rem black;
}

.input {
  border: 0.1rem solid black;

  margin: 0.2rem;
}

#button {
  background-color: black;
  color: white;
  margin: 1rem;
  font-family: "Open Sans", sans-serif;
}

.pw {
  /* hier muss noch ein grid draus gemacht werden */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  font-size: 0.75rem;
  list-style: none;
  padding-left: unset;
}
@media screen and (min-width: 700px) {
}
